@font-face {
  font-family: 'digitalSeven';
  src: url('fonts/digital-7 (mono).ttf') format('truetype');
}

body {
  background-color: grey;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 31em 1fr;
  height: 100vh;
}

h1 {
  font-size: 3em;
  color: #444444;
  font-weight: bold;
  margin: 0.5em;
}

header {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.container {
  grid-area: 2 / 2 / 3 / 3;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settings {
  background-color: black;
  height: 32%;
  display: flex;
}

.phase-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.time-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.material-icons:hover {
  cursor: pointer;
  color: grey;
}

.display-container {
  background-color: black;
  height: 62%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.phase {
  font-size: 2.5em;
  margin-top: 0.125em;
}

.time {
  font-size: 3em;
  font-family: 'digitalSeven';
}

.controls {
  display: flex;
  justify-content: space-around;
}
